.card {
  text-align: center;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
}

.card__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  max-width: 282px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__like-button {
  height: 18px;
  width: 21px;
  background: transparent url(../images/like.svg) center no-repeat;
  border: none;
}

.card__like-button_active {
  background-image: url(../images/Union.svg);
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__delete-button {
  position: absolute;
  background-image: url(../images/Trash.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.4s;
  border: none;
  height: 19.3px;
  width: 18px;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  top: 18px;
  right: 15px;
}
