.header {
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin: auto;
  padding-top: 45px;
}

.header__logo {
  width: 173px;
  height: 33px;
  margin-bottom: 41px;
}

@media screen and (max-width: 800px) {
  .header__logo {
    margin: 0;
    padding-bottom: 32px;
    padding-left: 27px;
    width: 126px;
  }

  .header {
    padding-top: 28px;
    margin: 0;
    max-width: 100%;
  }
}
