.profile {
    align-items: center;
    display: flex;
    padding-top: 40px;
    box-sizing: border-box;
}

.profile__info {
    display: grid;
    grid-template-areas:  
    "title button"
    "description description";
    grid-template-columns: minmax(auto, 373px) auto;
}

.profile__image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 24px;
    align-items: center;
}

.profile__edit-button {
    background: transparent url(../images/Vectoreditbutton.svg) center no-repeat;
    height: 24px;
    width: 24px;
    grid-area: button;
    border: 1px solid #fff;
    margin-top: 15px;
    margin-left: 16px;
    
}

.profile__edit-button:hover{
    opacity: 60%;
    color: #fff;
}

.profile__add-button {
    background: transparent url(../images/Vectoraddbutton.svg) center no-repeat;
    width: 150px;
    height: 50px;
    margin-left: auto;
    border: 2px solid #fff;

    
}

.profile__add-button:hover{
    opacity: 60%;
    color: #fff;
}

.profile__title {
    font-size: 42px;
    line-height: 1.1;  
    font-weight: 500;
    grid-area: title;
    margin: 0;
    max-width: 373px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 48px;
}

.profile__description {
    font-size:18px;
    font-weight: 400;
    line-height: 22px;
    grid-area: description;
    margin: 7px 0 0;
    max-width: 415px;
    max-height: 22px;
}